{% extends "base.html" %}
{% block content %}


<main class="main-form">
    <div class="formdiv">
        <form action="/post/edit/{{ blog._id }},{{post._id}}" class='form' method="POST">
            <h3>Edit Post</h3>
            <div class="form-container">
                <label for="Title">Title</label>
                <input type="text" value="{{ post.title }}" name="title">
            </div>
            <div class="form-container">
                <label for="content">Content</label>
                <input type="text-area" id="content" value="{{ post.content }}" name="content">
            </div>
            <button type="submit" class="button">Update Post</button>

        </form>

    </div>
</main>



{% endblock %}