{% extends "base.html" %}

{% block content %}


    <div class="container profile-container ">
        <div class="profile-pic">

        </div>
        <h3>{{ user['email'] }}</h3>
        <p>Total Blogs: {{ nblogs }}</p>
    </div>


    <div class="container bg-secondary home-heading">
        <h5>Recent Blogs</h5>
        
    </div>

    {% if nblogs != 0 %}
        {% for blog in blogs %}
            <div class="container blogs-list">
                <a href="/post/{{ blog._id }}"><h3 id="blog-title">{{ blog.title }}</h3></a>
                <h5>{{ blog.description }}</h5>
                Created On : {{ blog.date.date() }} <br>
                At : {{blog.date.time().hour }}:{{ blog.date.time().minute }}<br>
                By : {{ blog.author }}</p>
                {% if session['email'] == blog.author %}
                    <a href="/blog/edit/{{ blog._id }}"><button type="submit" class="change edit">Edit</button></a>
                    <a href="/blog/delete/{{ blog._id }}"><button  type="submit" class="change delete">Delete</button></a>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="container blogs-list">
            <h3 class="error">Sorry!!...No Recent Blogs!!</h3>
        </div>
    {% endif %}

{% endblock %}