a:link{
    text-decoration: none;

}

a #blog-title{
    color: #125D98;
}

.home-heading{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.blogs-list, div.posts-list{
    background-color: #DDDDDD;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 10px; 
    width: 50%;
    text-align: center;
    position: relative;
    /* height: 190px; */
}


div.posts-list h3{
    color: #0C4271;
}
div.blogs-list h5, div.posts-list h5{
    color: #0A81AB;
}

div.blogs-list .error{
    color: #F29191;
}

#footer{
    display: flex;
    justify-content:space-between;    

}
#footer li{
    margin:0 10px;
}


.main-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.formdiv{
    background-color: #fff;
    width: 40%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    

}

.formdiv h3{
    text-align: center;
    margin-bottom: 20px;

}

.form{
    padding: 20px 30px;
}

.form-container{
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.form-container label{
    display: block;
    margin-bottom: 5px;
}

.form-container input{
    width: 100%;
    padding:5px;
    font-size: 1.2rem;
    border: 2px solid #f0f0f0;
}

.form-container input:focus{
    outline: 0;
    border-color: #777;
}



.button{
    width: 100%;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 4px;
    background-color: #01937C;
    color: #fff;
    border: 2px solid #01937C;
}
.button:hover, .change:hover{
    background-color: #5E8B7E;
    
}
.change{
    background-color: #01937C;
    color: #fff;
    border: 2px solid #01937C;
    width: 100px;
    /* font-size: 1.2rem; */
}
.edit{
    margin: 5px 60px;

}
.delete{
    margin: 5px 60px;
}

#login-button{
    background-color: #3498db;
    border-color: #3498db;
}


.post-container{
    display: flex;
    margin: 20px 0;
    margin-top: 30px;
    /* background-color: blue; */
    padding-top: 8px;
}

.current-user{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-top: 5px;
}


.profile-container.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #DDDDDD;
    flex-direction: column;
    padding-top: 20px;
}

.profile-container h3{
    color: #00917C;
}