
.home-heading{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.blogs-list{
    background-color: #DDDDDD;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 10px; 
    width: 50%;
    text-align: center;
}

div.blogs-list h3{
    color: #0C4271;
}
div.blogs-list h5{
    color: #0A81AB;
}

div.blogs-list .error{
    color: #F29191;
}